@import "tailwindcss";

@theme {
  --color-primary: #C5A059;
  --color-primary-dark: #0A192F;
  --color-background-light: #F9F9F9;
  --color-background-dark: #121212;
  --color-surface-light: #FFFFFF;
  --color-surface-dark: #1E1E1E;
  --color-text-light: #333333;
  --color-text-dark: #E0E0E0;

  --font-display: var(--font-playfair), serif;
  --font-sans: var(--font-poppins), sans-serif;
}

.marble-bg {
  background-image: url(https://lh3.googleusercontent.com/aida-public/AB6AXuA8wP2rNkhG5q9SQ5nHgCtkA3wypN_cCOb8bn3ec3rzFUzZruBgGmMQJi0blR_G-3AABj3Xdp6z3n9vmobMmEyaFZSa7-UEx_1ldG08t51N8-cNJw-y5WqwwxM93YZWa8ktDmvQRb7k2skmyPhtQjCyH3oHZ9a-rj2WYw1PKlpeDm-VxJR7ktHmoXLRI9E14SVRg0GL-x34i0aQBUMvuG8cjPknabFrx4pmKfzPwGaJ9B2FAbs1ZIanrTJR4K96f7CuL00kR8EJB1A);
  background-size: cover;
  background-position: center;
  position: relative;
}
.marble-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.85);
}
.dark .marble-overlay {
  background: rgba(10, 25, 47, 0.9);
}
.gold-gradient-text {
  background: linear-gradient(to right, #C5A059, #E8D08D, #C5A059);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
